<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.coolwind.redis.web.dao.TestDao" >
    <cache eviction="LRU" type="cn.coolwind.redis.core.config.RedisCache"/>

    <select id="getById"  resultType="cn.coolwind.redis.core.entity.Test">
        SELECT * FROM test WHERE id = #{id}
    </select>

    <update id="updateTest" parameterType="cn.coolwind.redis.core.entity.Test">
        update  test
        set
         `name` = #{name},
         `value` = #{value}
         where id = #{id}
    </update>

</mapper>